<div class="grid">
  <header class="page-header">
    <div class="content">
      {{ title }}
    </div>
  </header>
  <main class="page-main">
    <div class="content">
      <p>
        {{ purpose }}
      </p>
      <p>
        Ng-idle helps you to manage the 'idle' fac next Here you will find a
        solution for using a component that detects user interaction in your
        system.
      </p>
      <p>
        It is developed using Angular 16, trying to apply the best developing
        practices.
      </p>
      <p>Idle time setted: {{ idleTime }} seg.</p>
      <p>Idle Status: ..{{ idleStatus }}</p>
      <section>
        <div class="example-label">
          Reconnect:
          <button
            mat-raised-button
            [disabled]="isButtonEnabled"
            (click)="reset()"
          >
            Try Again
          </button>
        </div>
      </section>
    </div>
  </main>
  <footer class="page-footer">
    <div class="content">
      <p>This code is totally free to use.</p>
    </div>
  </footer>
</div>

<router-outlet></router-outlet>
